.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
/out/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

bundle.js
bundle.js.map
node_modules

logs/*
src/main/resources/db/demographics-archive.pgdump

