<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<head lang="en">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">

    <title>Demographics</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="shortcut icon" th:href="@{/favicon.png}">
    <link rel="apple-touch-icon" sizes="57x57" th:href="@{/apple-icon-57x57.png}" />
    <link rel="apple-touch-icon" sizes="72x72" th:href="@{/apple-icon-72x72.png}" />
    <link rel="apple-touch-icon" sizes="114x114" th:href="@{/apple-icon-114x114.png}" />
    <link rel="apple-touch-icon" sizes="144x144" th:href="@{/apple-icon-144x144.png}" />
</head>
<body>

<div id="root"></div>

<script src="built/bundle.js"></script>

</body>
</html>
